ASPNETCORE_ENVIRONMENT=Development
DB_HOST=192.168.1.250
DB_PORT=5432
DB_NAME=invoice_db
DB_USER=postgres
DB_PASS=LC+/34:N$1#[<?N
RMQ_HOST=localhost
RMQ_PORT=5672
RMQ_USER=guest
RMQ_PASS=guest
API_KEY=dev-api-key
JWT_SECRET=supersecretjwtkey
DISABLE_XSD_VALIDATION=true
SIGNING_MODE=provider-sign
PII_ENCRYPTION_KEY_BASE64=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
